html {
    --canvasWidth: 100%;
    --canvasHeight: 100%;
    --canvasLeft: 0;
    --canvasTop: 0;
}

body {
    overflow: hidden;
    margin: 0;
    background-color: #090909;
}

canvas {
    width: var(--canvasWidth);
    height: var(--canvasHeight);
    position: relative;
    left: var(--canvasLeft);
    top: var(--canvasTop);
    background-color: white;
    image-rendering: pixelated;
}

input {
    border: 0;
    box-sizing: border-box;
    height: 32px;
}

.canvas-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas-wrapper {
    width: 100%;
    height: fit-content;
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.tools-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}