@font-face {
    font-family: 'monogram';
    src: url('./fonts/monogram-extended.ttf');
}

html {
    --canvasWidth: 64px;
    --canvasHeight: 64px;
    --canvasLeft: 0;
    --canvasTop: 0;
}

button {
    font-family: 'monogram';
    line-height: 1;
    font-size: 24px;
}

body {
    font-family: 'monogram';
    font-size: 24px;
    overflow: hidden;
    margin: 0;
    background-color: #090909;
}

canvas {
    width: 100%;
    height: 100%;
    position: relative;
    left: var(--canvasLeft);
    top: var(--canvasTop);
    background-color: #BBB;
    image-rendering: pixelated;

    background-image:
        linear-gradient(45deg, #AAA 25%, transparent 25%), 
        linear-gradient(135deg, #AAA 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #AAA 75%),
        linear-gradient(135deg, transparent 75%, #AAA 75%);
    background-size: 6px 6px; /* Must be a square */
    background-position: center;
}

input {
    border: 0;
    box-sizing: border-box;
    height: 32px;
}

.canvas-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas-wrapper {
    width: var(--canvasWidth);
    height: var(--canvasHeight);
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.tools-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 5px;
    align-items: center;
}

.info {
    position: absolute;
    right: 10px;
    bottom: 0;
    color: #777777BB;
}